docs/n8n/workflows/N8N_LONGFORM_SCRIPT.json
{
  "name": "[W08] 롱폼 스크립트 초안 자동 생성 (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "longform-script",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-longform",
      "name": "Webhook 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "webhookId": "longform-script-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-longform",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let topic = '금리 동결 이후 재테크 전략';\nlet durationMinutes = 8;\nlet targetAudience = '시니어';\nlet platform = 'youtube';\nlet targetFormat = 'longform';\nlet category = 'video';\nlet intent = 'longform_video';\nlet keywords = [];\nlet references = [];\ntry {\n  const wh = $('Webhook 수신').all();\n  if (wh.length) {\n    const raw = wh[0].json;\n    const b = raw.body ?? raw;\n    const parsed = typeof b === 'string' ? JSON.parse(b) : b;\n    if (parsed?.topic) topic = String(parsed.topic);\n    if (parsed?.durationMinutes != null) durationMinutes = Number(parsed.durationMinutes) || 8;\n    if (parsed?.targetAudience) targetAudience = String(parsed.targetAudience);\n    if (parsed?.platform) platform = String(parsed.platform);\n    if (parsed?.targetFormat) targetFormat = String(parsed.targetFormat);\n    if (parsed?.category) category = String(parsed.category);\n    if (parsed?.intent) intent = String(parsed.intent);\n    if (Array.isArray(parsed?.keywords)) keywords = parsed.keywords.map(String);\n    if (Array.isArray(parsed?.references)) references = parsed.references;\n  }\n} catch {}\nif (!Number.isFinite(durationMinutes) || durationMinutes < 2) durationMinutes = targetFormat === 'longform' ? 8 : 0;\nreturn [{ json: { topic, durationMinutes, targetAudience, platform, targetFormat, category, intent, keywords, references, source: 'n8n' } }];"
      },
      "id": "node-parse-params",
      "name": "파라미터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        290
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\nconst geminiKey = ($env.GEMINI_API_KEY || '').trim();\n\nif (!geminiKey) {\n  return [{ json: { ...params, geminiSkip: true, geminiReason: 'GEMINI_API_KEY 미설정' } }];\n}\n\nconst refLines = (params.references || []).slice(0, 10).map((r, i) => {\n  const meta = [r.platform, r.channel, r.vsAvg != null ? `vs.Avg ${r.vsAvg}x` : null].filter(Boolean).join(' · ');\n  return `${i + 1}. ${r.title}${meta ? ` (${meta})` : ''}`;\n}).join('\\n') || '없음';\nconst refBlock = (params.references || []).length\n  ? `\\n\\n[참고 레퍼런스(선택) — 제목·구조·톤만 벤치마킹, 문장 복사·주제 변경 금지]\\n${refLines}`\n  : '\\n\\n[참고 레퍼런스 없음 — 주제 키워드만으로 작성]';\nconst kwLine = (params.keywords || []).length ? `\\n보조 키워드: ${params.keywords.join(', ')}` : '';\nconst fmt = params.targetFormat || 'longform';\nconst chapterCount = Math.max(2, Math.min(5, Math.floor(((params.durationMinutes || 8) - 1.5) / 1.5)));\n\nlet role = '유튜브 롱폼 콘텐츠 전문 스크립터';\nlet jsonSchema = '{\\n  \"title\": \"시청자가 클릭하고 싶은 제목\",\\n  \"hook\": \"오프닝 훅 2~3문장\",\\n  \"chapters\": [{ \"heading\": \"챕터\", \"durationSec\": 120, \"bullets\": [\"포인트\"] }],\\n  \"cta\": \"마지막 CTA\",\\n  \"seoKeywords\": [\"키워드\"],\\n  \"fullScript\": \"마크다운 전체 대본\"\\n}';\nlet extra = `- chapters는 정확히 ${chapterCount}개\\n- fullScript는 촬영용 완성 대본`;\n\nif (fmt === 'blog') {\n  role = '네이버·티스토리 SEO 블로그 전문 작가';\n  jsonSchema = '{\\n  \"title\": \"검색 친화 제목\",\\n  \"hook\": \"첫 2문단 요약\",\\n  \"chapters\": [{ \"heading\": \"H2\", \"durationSec\": 0, \"bullets\": [\"문단 핵심\"] }],\\n  \"cta\": \"마무리 CTA\",\\n  \"seoKeywords\": [\"키워드\"],\\n  \"fullScript\": \"마크다운 전체 블로그 본문\"\\n}';\n  extra = '- chapters는 H2 4~6개\\n- fullScript는 1500자 이상 완성 블로그';\n} else if (fmt === 'carousel') {\n  role = '인스타 캐러셀 카드뉴스 기획자';\n  jsonSchema = '{\\n  \"title\": \"시리즈 제목\",\\n  \"hook\": \"1장 후킹\",\\n  \"chapters\": [{ \"heading\": \"슬라이드1\", \"durationSec\": 0, \"bullets\": [\"카드 본문\"] }],\\n  \"cta\": \"마지막 CTA\",\\n  \"seoKeywords\": [\"해시태그\"],\\n  \"fullScript\": \"슬라이드별 카피 (마크다운)\"\\n}';\n  extra = '- chapters는 슬라이드 5~8장\\n- fullScript는 슬라이드별 완성 카피';\n}\n\nconst prompt = `당신은 ${params.targetAudience} 타겟 ${role}입니다.\\n주제(필수): ${params.topic}\\n포맷: ${fmt} · 플랫폼: ${params.platform || 'youtube'}\\n${fmt === 'longform' ? `목표 길이: 약 ${params.durationMinutes || 8}분\\n` : ''}${refBlock}${kwLine}\\n\\n아래 JSON만 응답:\\n${jsonSchema}\\n\\n조건:\\n${extra}\\n- **주제·본문은 반드시 위 «주제(필수)» 줄만 따름** — 레퍼런스와 다른 주제로 작성 금지\\n- 참고 레퍼런스가 있으면 제목·H2 구조·톤만 벤치마킹, 문장 복사·주제 변경 금지\\n- 레퍼런스 없으면 주제 키워드와 일반 지식으로 작성`;\n\nreturn [{ json: { ...params, geminiSkip: false, geminiKey, geminiPrompt: prompt, chapterCount, targetFormat: fmt } }];"
      },
      "id": "node-gemini-prep",
      "name": "Gemini 프롬프트 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        290
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-gemini",
              "leftValue": "={{ $json.geminiSkip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-gemini-skip",
      "name": "Gemini 스킵?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        290
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $json.geminiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.geminiPrompt }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 4096, thinkingConfig: { thinkingBudget: 0 } } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-gemini-call",
      "name": "Gemini: 스크립트 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        190
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Gemini 프롬프트 준비').first().json;\nconst geminiRaw = $input.first().json;\n\nlet script = null;\ntry {\n  const text = geminiRaw?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) script = JSON.parse(jsonMatch[0]);\n} catch(e) { /* 파싱 실패 → 폴백 */ }\n\nif (!script || !script.title) {\n  const dur = params.durationMinutes || 8;\n  script = {\n    title: `[시니어] ${params.topic}`,\n    hook: `오늘은 '${params.topic}'에 대해 이야기해 볼게요. 많이들 궁금해하시죠? 이 영상 끝까지 보시면 실제로 바로 써먹을 수 있는 방법을 드립니다.`,\n    chapters: [\n      { heading: '배경과 현황', durationSec: Math.round(dur * 60 * 0.25), bullets: ['현재 상황 설명', '왜 중요한가', '많이 하는 오해'] },\n      { heading: '핵심 전략', durationSec: Math.round(dur * 60 * 0.4), bullets: ['전략 1', '전략 2', '전략 3'] },\n      { heading: '주의사항과 마무리', durationSec: Math.round(dur * 60 * 0.2), bullets: ['놓치기 쉬운 포인트', '실천 체크리스트'] },\n    ],\n    cta: '도움이 되셨다면 구독과 좋아요 부탁드립니다. 다음 영상에서는 더 자세한 내용으로 찾아뵐게요.',\n    seoKeywords: [params.topic, '시니어', '재테크', '노후준비', '경제'],\n    fullScript: `# ${params.topic}\\n\\n## 오프닝\\n오늘은 '${params.topic}'에 대해 이야기해 볼게요.\\n\\n(이하 내용을 직접 작성해주세요)`,\n  };\n}\n\nconst now = new Date().toISOString();\nreturn [{ json: {\n  ok: true,\n  mode: 'n8n',\n  topic: params.topic,\n  targetFormat: params.targetFormat || 'longform',\n  durationMinutes: params.durationMinutes,\n  targetAudience: params.targetAudience,\n  aiEnhanced: !!geminiRaw?.candidates?.[0],\n  script,\n  generatedAt: now,\n  message: script ? `'${params.topic}' 스크립트 생성 완료` : '기본 구조 생성 (Gemini 오류 폴백)',\n} }];"
      },
      "id": "node-gemini-parse",
      "name": "Gemini 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        190
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\nconst dur = params.durationMinutes || 8;\nreturn [{ json: {\n  ok: true,\n  mode: 'fallback',\n  topic: params.topic,\n  targetFormat: params.targetFormat || 'longform',\n  durationMinutes: dur,\n  targetAudience: params.targetAudience,\n  aiEnhanced: false,\n  script: {\n    title: `[시니어] ${params.topic}`,\n    hook: `오늘 주제는 '${params.topic}'입니다. 끝까지 보시면 실생활에 바로 쓸 수 있는 팁을 드립니다.`,\n    chapters: [\n      { heading: '배경과 현황', durationSec: Math.round(dur * 60 * 0.25), bullets: ['현재 상황', '왜 중요한가', '오해와 진실'] },\n      { heading: '핵심 포인트 3가지', durationSec: Math.round(dur * 60 * 0.4), bullets: ['첫 번째 포인트', '두 번째 포인트', '세 번째 포인트'] },\n      { heading: '마무리와 실천법', durationSec: Math.round(dur * 60 * 0.2), bullets: ['오늘 당장 할 수 있는 것', '체크리스트'] },\n    ],\n    cta: '구독과 좋아요로 응원해 주세요. 다음 영상에서 더 유익한 내용으로 만나요.',\n    seoKeywords: [params.topic, '시니어', '노후', '재테크', '경제'],\n    fullScript: `# ${params.topic}\\n\\n## 오프닝 훅\\n(GEMINI_API_KEY 미설정 — 직접 작성해주세요)\\n\\n## 본문\\n각 챕터 내용을 채워주세요.`,\n  },\n  generatedAt: new Date().toISOString(),\n  message: 'GEMINI_API_KEY 미설정 — 기본 구조만 생성됨. .env.local에 키를 추가하면 AI 생성이 활성화됩니다.',\n} }];"
      },
      "id": "node-fallback",
      "name": "폴백 (API키 없음)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        390
      ]
    }
  ],
  "connections": {
    "Webhook 수신": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파라미터 파싱": {
      "main": [
        [
          {
            "node": "Gemini 프롬프트 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 프롬프트 준비": {
      "main": [
        [
          {
            "node": "Gemini 스킵?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 스킵?": {
      "main": [
        [
          {
            "node": "폴백 (API키 없음)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini: 스크립트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: 스크립트 생성": {
      "main": [
        [
          {
            "node": "Gemini 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 결과 파싱": {
      "main": [
        []
      ]
    },
    "폴백 (API키 없음)": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "콘텐츠 제작"
    },
    {
      "name": "Gemini"
    }
  ],
  "pinData": {}
}