docs/n8n/workflows/N8N_LONGFORM_SCRIPT.json
{
  "name": "[W08] 롱폼 스크립트 초안 자동 생성 (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "longform-script",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-longform",
      "name": "Webhook 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "webhookId": "longform-script-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-longform",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let topic = '금리 동결 이후 재테크 전략';\nlet durationMinutes = 8;\nlet targetAudience = '시니어';\nlet platform = 'youtube';\nlet targetFormat = 'longform';\nlet category = 'video';\nlet intent = 'longform_video';\nlet keywords = [];\nlet references = [];\ntry {\n  const wh = $('Webhook 수신').all();\n  if (wh.length) {\n    const raw = wh[0].json;\n    const b = raw.body ?? raw;\n    const parsed = typeof b === 'string' ? JSON.parse(b) : b;\n    if (parsed?.topic) topic = String(parsed.topic);\n    if (parsed?.durationMinutes != null) durationMinutes = Number(parsed.durationMinutes) || 8;\n    if (parsed?.targetAudience) targetAudience = String(parsed.targetAudience);\n    if (parsed?.platform) platform = String(parsed.platform);\n    if (parsed?.targetFormat) targetFormat = String(parsed.targetFormat);\n    if (parsed?.category) category = String(parsed.category);\n    if (parsed?.intent) intent = String(parsed.intent);\n    if (Array.isArray(parsed?.keywords)) keywords = parsed.keywords.map(String);\n    if (Array.isArray(parsed?.references)) references = parsed.references;\n  }\n} catch {}\nif (!Number.isFinite(durationMinutes) || durationMinutes < 2) durationMinutes = targetFormat === 'longform' ? 8 : 0;\nreturn [{ json: { topic, durationMinutes, targetAudience, platform, targetFormat, category, intent, keywords, references, source: 'n8n' } }];"
      },
      "id": "node-parse-params",
      "name": "파라미터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        290
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\n\nconst refLines = (params.references || []).slice(0, 10).map((r, i) => {\n  const meta = [r.platform, r.channel, r.vsAvg != null ? `vs.Avg ${r.vsAvg}x` : null].filter(Boolean).join(' · ');\n  return `${i + 1}. ${r.title}${meta ? ` (${meta})` : ''}`;\n}).join('\\n') || '없음';\nconst refBlock = (params.references || []).length\n  ? `\\n\\n[참고 레퍼런스(선택) — 제목·구조·톤만 벤치마킹, 문장 복사·주제 변경 금지]\\n${refLines}`\n  : '\\n\\n[참고 레퍼런스 없음 — 주제 키워드만으로 작성]';\nconst kwLine = (params.keywords || []).length ? `\\n보조 키워드: ${params.keywords.join(', ')}` : '';\nconst fmt = params.targetFormat || 'longform';\nconst chapterCount = Math.max(4, Math.min(8, Math.floor(((params.durationMinutes || 8) - 1) / 1.2)));\n\nlet role, jsonSchema, extra, maxTokens;\n\nif (fmt === 'shortform') {\n  role = 'YouTube Shorts·Reels 숏폼 스크립터';\n  jsonSchema = `{\n  \"title\": \"영상 제목 (30자 이내, 클릭 유도)\",\n  \"hook\": \"0~3초 오프닝 훅 1~2문장 (숫자·반전·질문)\",\n  \"chapters\": [\n    { \"heading\": \"씬1 · 0~10초\", \"durationSec\": 10, \"bullets\": [\"나레이션 핵심\"] }\n  ],\n  \"cta\": \"마지막 2초 CTA (구독·저장·댓글)\",\n  \"seoKeywords\": [\"해시태그1\", \"해시태그2\"],\n  \"fullScript\": \"[0~10초]\\\\n나레이션: ...\\\\n화면(한글): ...\\\\n자막: ...\",\n  \"flowPasteBlock\": \"Scene 1 (0-10s): [Subject] ... [Action] ... [Camera] ... [Lighting] ... 9:16 safe-zone\"\n}`;\n  extra = `- 총 길이 45~60초, 씬 3~5개\n- chapters는 씬별로 heading에 \"씬N · 시작초~끝초\" 형식\n- fullScript: 씬마다 [0~N초] 헤더 + 나레이션(한글) + 화면(한글) + 자막 + 제작 메모\n- flowPasteBlock: 씬별 영문 Higgsfield/Google Flow 프롬프트 (피사체·행동·카메라·조명·무드·9:16 안전영역 포함), 씬 구분은 \"### 씬N · 시작~끝초\" 헤더로\n- **주제(필수)** 줄의 주제만 사용, 레퍼런스 주제·문장 복사 금지`;\n  maxTokens = 3000;\n} else if (fmt === 'blog') {\n  role = '네이버·티스토리 SEO 블로그 전문 작가';\n  jsonSchema = `{\n  \"title\": \"검색 친화 제목\",\n  \"hook\": \"첫 2문단 요약\",\n  \"chapters\": [{ \"heading\": \"H2 소제목\", \"durationSec\": 0, \"bullets\": [\"문단 핵심\"] }],\n  \"cta\": \"마무리 CTA\",\n  \"seoKeywords\": [\"키워드\"],\n  \"fullScript\": \"마크다운 전체 블로그 본문 (H2·표·이미지 가이드 블록 포함)\"\n}`;\n  extra = `- chapters는 H2 소제목 4~6개\n- fullScript는 1500자 이상 완성 블로그\n- 제목 공식: 숫자형·질문형·대비형 중 1개 적용`;\n  maxTokens = 4096;\n} else if (fmt === 'carousel') {\n  role = '인스타그램 캐러셀 카드뉴스 기획자';\n  jsonSchema = `{\n  \"title\": \"시리즈 제목 (20자 이내)\",\n  \"hook\": \"1장 후킹 문구 (저장 유도)\",\n  \"chapters\": [\n    { \"heading\": \"슬라이드1: 표지\", \"durationSec\": 0, \"bullets\": [\"핵심 문구\"] },\n    { \"heading\": \"슬라이드2: 본문1\", \"durationSec\": 0, \"bullets\": [\"팁 1줄\"] }\n  ],\n  \"cta\": \"마지막 슬라이드 CTA + 해시태그 5개\",\n  \"seoKeywords\": [\"#해시태그1\", \"#해시태그2\"],\n  \"fullScript\": \"## 슬라이드 1: 표지\\\\n본문 카피 (40자 이내)\\\\n\\\\n## 슬라이드 2\\\\n...\"\n}`;\n  extra = `- chapters는 슬라이드 7~10장 (저장율 최적)\n- fullScript: 슬라이드마다 ## 슬라이드 N: 제목 + 카피(40자 이내) + 배경 이미지 키워드(영문)\n- 1장(표지)·중간(팁·데이터)·마지막(CTA) 구조 필수\n- 정보형·감성형·체크리스트형 중 주제에 맞는 톤 선택`;\n  maxTokens = 3000;\n} else {\n  // longform (default)\n  role = '유튜브 롱폼 콘텐츠 전문 스크립터';\n  jsonSchema = `{\n  \"title\": \"시청자가 클릭하고 싶은 제목 (30자 이내)\",\n  \"hook\": \"오프닝 훅 2~3문장 (결론 미리보기 또는 수치 공개)\",\n  \"chapters\": [\n    { \"heading\": \"챕터 제목\", \"durationSec\": 90, \"bullets\": [\"핵심 포인트 1\", \"핵심 포인트 2\"] }\n  ],\n  \"cta\": \"마지막 1분 CTA + 다음 영상 예고\",\n  \"seoKeywords\": [\"키워드\"],\n  \"fullScript\": \"# 제목\\\\n\\\\n## 오프닝 훅 (0~30초)\\\\n...\\\\n\\\\n## 챕터1 제목 (00:30)\\\\n...\"\n}`;\n  extra = `- chapters는 정확히 ${chapterCount}개 (챕터당 약 1~1.5분)\n- 각 chapter.durationSec은 실제 분량(초) 명시\n- fullScript: H2 헤더에 타임스탬프 \"(MM:SS)\" 포함, 촬영용 완성 대본\n- 서론 10% · 본론 75% · 결론+CTA 15% 비율 유지`;\n  maxTokens = 6000;\n}\n\nconst durationLine = fmt === 'longform'\n  ? `목표 길이: 약 ${params.durationMinutes || 8}분 (총 ${(params.durationMinutes || 8) * 60}초)\\n`\n  : '';\n\nconst prompt = `당신은 ${params.targetAudience || '일반'} 타겟 ${role}입니다.\n주제(필수): ${params.topic}\n포맷: ${fmt} · 플랫폼: ${params.platform || 'youtube'}\n${durationLine}${refBlock}${kwLine}\n\n아래 JSON만 응답 (마크다운 코드블록 없이 순수 JSON):\n${jsonSchema}\n\n조건:\n${extra}\n- **주제·본문은 반드시 위 «주제(필수)» 줄만 따름** — 레퍼런스와 다른 주제로 작성 금지\n- 참고 레퍼런스가 있으면 제목·구조·톤만 벤치마킹, 문장 복사·주제 변경 금지\n- 레퍼런스 없으면 주제 키워드와 일반 지식으로 오리지널 작성`;\n\nreturn [{ json: { ...params, geminiPrompt: prompt, chapterCount, targetFormat: fmt, maxTokens } }];"
      },
      "id": "node-gemini-prep",
      "name": "Gemini 프롬프트 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        290
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $json.geminiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.geminiPrompt }] }], generationConfig: { temperature: 0.65, maxOutputTokens: $json.maxTokens || 4096, thinkingConfig: { thinkingBudget: 0 } } }) }}",
        "options": {
          "timeout": 120000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "googlePalmApi"
      },
      "id": "node-gemini-call",
      "name": "Gemini: 스크립트 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        190
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "googlePalmApi": {
          "id": "9e3a2158",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const params = $('Gemini 프롬프트 준비').first().json;\nconst geminiRaw = $input.first().json;\n\nlet script = null;\ntry {\n  const text = geminiRaw?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) script = JSON.parse(jsonMatch[0]);\n} catch(e) { /* 파싱 실패 → 폴백 */ }\n\nconst fmt = params.targetFormat || 'longform';\n\nif (!script || !script.title) {\n  const dur = params.durationMinutes || 8;\n  if (fmt === 'shortform') {\n    script = {\n      title: `${params.topic} 숏폼`,\n      hook: `오늘은 '${params.topic}'에 대해 딱 1분만 정리해 드립니다.`,\n      chapters: [\n        { heading: '씬1 · 0~5초', durationSec: 5, bullets: ['오프닝 훅'] },\n        { heading: '씬2 · 5~40초', durationSec: 35, bullets: ['핵심 내용'] },\n        { heading: '씬3 · 40~55초', durationSec: 15, bullets: ['마무리'] },\n      ],\n      cta: '구독하고 더 많은 정보 받아가세요!',\n      seoKeywords: [params.topic, '숏폼', '정보'],\n      fullScript: `[0~5초]\\n나레이션: ${params.topic}, 딱 1분만 보세요.\\n화면(한글): 텍스트 훅 화면\\n자막: ${params.topic}\\n\\n[5~40초]\\n나레이션: (핵심 내용을 직접 작성해주세요)\\n화면(한글): 관련 배경 화면\\n자막: 핵심 키워드\\n\\n[40~55초]\\n나레이션: 도움이 됐다면 구독 부탁드립니다.\\n화면(한글): 아웃트로 화면\\n자막: 구독 CTA`,\n      flowPasteBlock: `### 씬1 · 0~5초\\nA close-up of bold text appearing on screen saying \"${params.topic}\", modern minimal style, 9:16 vertical safe-zone, soft studio lighting, camera slow zoom in.\\n\\n### 씬2 · 5~40초\\nA person explaining information with gestures, clean background, warm lighting, 9:16 vertical, camera steady medium shot.\\n\\n### 씬3 · 40~55초\\nSubscribe button animation with upbeat vibe, 9:16 vertical safe-zone, bright energetic lighting.`,\n    };\n  } else if (fmt === 'carousel') {\n    script = {\n      title: `${params.topic} 카드뉴스`,\n      hook: `알고 계셨나요? ${params.topic}에 대한 핵심만 모았습니다 👇`,\n      chapters: Array.from({length: 7}, (_, i) => ({\n        heading: `슬라이드${i+1}`, durationSec: 0,\n        bullets: [i === 0 ? '표지' : i === 6 ? 'CTA' : `팁 ${i}`]\n      })),\n      cta: '저장해두고 나중에 활용하세요! #정보 #꿀팁',\n      seoKeywords: [`#${params.topic}`, '#정보', '#꿀팁', '#카드뉴스', '#인스타'],\n      fullScript: `## 슬라이드 1: 표지\\n${params.topic}\\n알아두면 인생이 달라지는 정보\\n*Background: minimal gradient, bold typography*\\n\\n## 슬라이드 2\\n(내용을 직접 작성해주세요)\\n*Background keyword: clean infographic style*\\n\\n## 슬라이드 7: CTA\\n저장하고 나중에 다시 보세요!\\n팔로우하면 더 많은 정보를 드립니다 😊`,\n    };\n  } else if (fmt === 'blog') {\n    script = {\n      title: `${params.topic} 완벽 가이드`,\n      hook: `오늘은 '${params.topic}'에 대해 상세히 알아보겠습니다.`,\n      chapters: [\n        { heading: '개요', durationSec: 0, bullets: ['배경', '왜 중요한가'] },\n        { heading: '핵심 내용', durationSec: 0, bullets: ['포인트 1', '포인트 2'] },\n        { heading: '마무리', durationSec: 0, bullets: ['요약', '실천 팁'] },\n      ],\n      cta: '도움이 됐다면 구독 부탁드립니다.',\n      seoKeywords: [params.topic, '가이드', '정보'],\n      fullScript: `# ${params.topic} 완벽 가이드\\n\\n오늘은 '${params.topic}'에 대해 이야기해 보겠습니다.\\n\\n## 개요\\n(내용을 직접 작성해주세요)\\n\\n## 핵심 내용\\n(내용을 직접 작성해주세요)\\n\\n## 마무리\\n(내용을 직접 작성해주세요)`,\n    };\n  } else {\n    script = {\n      title: `[시니어] ${params.topic}`,\n      hook: `오늘은 '${params.topic}'에 대해 이야기해 볼게요. 이 영상 끝까지 보시면 바로 써먹을 수 있는 방법을 드립니다.`,\n      chapters: [\n        { heading: '배경과 현황', durationSec: Math.round(dur * 60 * 0.25), bullets: ['현재 상황 설명', '왜 중요한가', '많이 하는 오해'] },\n        { heading: '핵심 전략', durationSec: Math.round(dur * 60 * 0.4), bullets: ['전략 1', '전략 2', '전략 3'] },\n        { heading: '주의사항과 마무리', durationSec: Math.round(dur * 60 * 0.2), bullets: ['놓치기 쉬운 포인트', '실천 체크리스트'] },\n      ],\n      cta: '도움이 되셨다면 구독과 좋아요 부탁드립니다. 다음 영상에서는 더 자세한 내용으로 찾아뵐게요.',\n      seoKeywords: [params.topic, '시니어', '재테크', '노후준비', '경제'],\n      fullScript: `# ${params.topic}\\n\\n## 오프닝 (00:00)\\n오늘은 '${params.topic}'에 대해 이야기해 볼게요.\\n\\n(이하 내용을 직접 작성해주세요)`,\n    };\n  }\n}\n\n// chapterMarkers: chapters[]에서 누적 타임스탬프 계산\nlet chapterMarkers = [];\nif (Array.isArray(script.chapters) && fmt !== 'shortform' && fmt !== 'carousel') {\n  let elapsed = 0;\n  chapterMarkers = script.chapters\n    .filter(c => c.heading)\n    .map(c => {\n      const mm = String(Math.floor(elapsed / 60)).padStart(2, '0');\n      const ss = String(elapsed % 60).padStart(2, '0');\n      const marker = { timestamp: `${mm}:${ss}`, title: String(c.heading), durationSec: c.durationSec };\n      elapsed += c.durationSec || 90;\n      return marker;\n    });\n}\n\nconst now = new Date().toISOString();\nreturn [{ json: {\n  ok: true,\n  mode: 'n8n',\n  topic: params.topic,\n  targetFormat: params.targetFormat || 'longform',\n  durationMinutes: params.durationMinutes,\n  targetAudience: params.targetAudience,\n  aiEnhanced: !!geminiRaw?.candidates?.[0],\n  script: { ...script, chapterMarkers: chapterMarkers.length > 0 ? chapterMarkers : undefined },\n  generatedAt: now,\n  message: `'${params.topic}' ${fmt} 스크립트 생성 완료`,\n} }];"
      },
      "id": "node-gemini-parse",
      "name": "Gemini 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        190
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\nconst dur = params.durationMinutes || 8;\nconst fmt = params.targetFormat || 'longform';\n\nlet script;\nif (fmt === 'shortform') {\n  script = {\n    title: `${params.topic} 숏폼`,\n    hook: `오늘은 '${params.topic}' 딱 1분!`,\n    chapters: [\n      { heading: '씬1 · 0~5초', durationSec: 5, bullets: ['훅'] },\n      { heading: '씬2 · 5~50초', durationSec: 45, bullets: ['본문'] },\n      { heading: '씬3 · 50~60초', durationSec: 10, bullets: ['CTA'] },\n    ],\n    cta: '구독 부탁드립니다!',\n    seoKeywords: [params.topic, '숏폼'],\n    fullScript: `[0~5초]\\n나레이션: ${params.topic}, 1분 요약!\\n화면(한글): 텍스트 훅\\n\\n[5~50초]\\n나레이션: (GEMINI_API_KEY 미설정 — 직접 작성)\\n화면(한글): 관련 장면\\n\\n[50~60초]\\n나레이션: 도움 됐다면 구독!\\n화면(한글): 아웃트로`,\n    flowPasteBlock: `### 씬1 · 0~5초\\nBold text \"${params.topic}\" appears on dark minimal background, 9:16 vertical, slow zoom in.\\n\\n### 씬2 · 5~50초\\nPerson explaining with gestures, clean studio background, 9:16 vertical, medium shot.\\n\\n### 씬3 · 50~60초\\nSubscribe CTA animation, bright energetic, 9:16 vertical.`,\n  };\n} else if (fmt === 'carousel') {\n  script = {\n    title: `${params.topic} 카드뉴스`,\n    hook: `${params.topic} 핵심 정리 👇`,\n    chapters: Array.from({length: 7}, (_, i) => ({ heading: `슬라이드${i+1}`, durationSec: 0, bullets: [`내용 ${i+1}`] })),\n    cta: '저장 & 팔로우!',\n    seoKeywords: [`#${params.topic}`, '#정보', '#꿀팁', '#카드뉴스', '#인스타'],\n    fullScript: `## 슬라이드 1: 표지\\n${params.topic}\\n\\n## 슬라이드 2~6\\n(GEMINI_API_KEY 미설정 — 직접 작성)\\n\\n## 슬라이드 7: CTA\\n저장하고 팔로우!`,\n  };\n} else {\n  script = {\n    title: `[시니어] ${params.topic}`,\n    hook: `오늘 주제는 '${params.topic}'입니다. 끝까지 보시면 실생활에 바로 쓸 수 있는 팁을 드립니다.`,\n    chapters: [\n      { heading: '배경과 현황', durationSec: Math.round(dur * 60 * 0.25), bullets: ['현재 상황', '왜 중요한가', '오해와 진실'] },\n      { heading: '핵심 포인트 3가지', durationSec: Math.round(dur * 60 * 0.4), bullets: ['첫 번째 포인트', '두 번째 포인트', '세 번째 포인트'] },\n      { heading: '마무리와 실천법', durationSec: Math.round(dur * 60 * 0.2), bullets: ['오늘 당장 할 수 있는 것', '체크리스트'] },\n    ],\n    cta: '구독과 좋아요로 응원해 주세요. 다음 영상에서 더 유익한 내용으로 만나요.',\n    seoKeywords: [params.topic, '시니어', '노후', '재테크', '경제'],\n    fullScript: `# ${params.topic}\\n\\n## 오프닝 훅 (00:00)\\n(GEMINI_API_KEY 미설정 — 직접 작성해주세요)\\n\\n## 본문\\n각 챕터 내용을 채워주세요.`,\n  };\n}\n\nreturn [{ json: {\n  ok: true,\n  mode: 'fallback',\n  topic: params.topic,\n  targetFormat: fmt,\n  durationMinutes: dur,\n  targetAudience: params.targetAudience,\n  aiEnhanced: false,\n  script,\n  generatedAt: new Date().toISOString(),\n  message: 'GEMINI_API_KEY 미설정 — 기본 구조만 생성됨. .env.local에 키를 추가하면 AI 생성이 활성화됩니다.',\n} }];"
      },
      "id": "node-fallback",
      "name": "폴백 (API키 없음)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        390
      ]
    }
  ],
  "connections": {
    "Webhook 수신": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파라미터 파싱": {
      "main": [
        [
          {
            "node": "Gemini 프롬프트 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 프롬프트 준비": {
      "main": [
        [
          {
            "node": "Gemini: 스크립트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: 스크립트 생성": {
      "main": [
        [
          {
            "node": "Gemini 결과 파싱",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "폴백 (API키 없음)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 결과 파싱": {
      "main": [
        []
      ]
    },
    "폴백 (API키 없음)": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "콘텐츠 제작"
    },
    {
      "name": "Gemini"
    }
  ],
  "pinData": {},
  "id": "Gd90x7Jy9ZQ0oj28"
}