docs/n8n/workflows/N8N_TOPIC_SUGGEST_V2.json
{
  "name": "[W09] 주제 선별 AI (Gemini, Outlier+RSS 연동)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-suggest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-topic",
      "name": "Webhook 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "webhookId": "topic-suggest-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-topic",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let keywords = '';\nlet count = 5;\nlet targetAudience = '시니어';\nlet includeRss = true;\nlet includeOutlier = true;\ntry {\n  const wh = $('Webhook 수신').all();\n  if (wh.length) {\n    const raw = wh[0].json;\n    const b = raw.body ?? raw;\n    const parsed = typeof b === 'string' ? JSON.parse(b) : b;\n    if (parsed?.keywords) keywords = String(parsed.keywords);\n    if (parsed?.count != null) count = Number(parsed.count) || 5;\n    if (parsed?.targetAudience) targetAudience = String(parsed.targetAudience);\n    if (parsed?.includeRss != null) includeRss = parsed.includeRss !== false;\n    if (parsed?.includeOutlier != null) includeOutlier = parsed.includeOutlier !== false;\n  }\n} catch {}\nif (!Number.isFinite(count) || count < 1) count = 5;\ncount = Math.min(count, 10);\nreturn [{ json: { keywords, count, targetAudience, includeRss, includeOutlier, source: 'n8n' } }];"
      },
      "id": "node-parse-params",
      "name": "파라미터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        290
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/rss-topics?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $env.DASHBOARD_API_SECRET || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-fetch-rss",
      "name": "RSS 주제 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        190
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/videos?type=outliers&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $env.DASHBOARD_API_SECRET || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-fetch-outlier",
      "name": "Outlier 영상 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        390
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('파라미터 파싱').first().json;\nlet rssTopics = [];\nlet outlierTitles = [];\ntry {\n  const rssData = $('RSS 주제 조회').first()?.json;\n  rssTopics = (rssData?.topics || []).slice(0, 8).map(t => t.ai_title || t.title).filter(Boolean);\n} catch {}\ntry {\n  const outlierData = $('Outlier 영상 조회').first()?.json;\n  outlierTitles = (outlierData?.videos || []).slice(0, 8).map(v => v.title).filter(Boolean);\n} catch {}\n\n\nconst contextParts = [];\nif (rssTopics.length) contextParts.push(`최근 RSS 트렌드 키워드:\\n${rssTopics.map((t,i) => `${i+1}. ${t}`).join('\\n')}`);\nif (outlierTitles.length) contextParts.push(`최근 아웃라이어(히트) 영상 제목:\\n${outlierTitles.map((t,i) => `${i+1}. ${t}`).join('\\n')}`);\nif (params.keywords) contextParts.push(`추가 키워드: ${params.keywords}`);\n\nconst contextText = contextParts.length ? contextParts.join('\\n\\n') : `타겟 오디언스: ${params.targetAudience}`;\n\nconst prompt = `당신은 ${params.targetAudience} 타겟 유튜브 채널의 콘텐츠 기획 전문가입니다.\\n아래 데이터를 참고해 이번 주 제작할 영상 주제 ${params.count}개를 추천해 주세요.\\n\\n${contextText}\\n\\n아래 JSON 배열로만 응답 (다른 텍스트 없이):\\n[\\n  {\\n    \"rank\": 1,\\n    \"topic\": \"주제 키워드 (20자 이내)\",\\n    \"title\": \"클릭하고 싶은 유튜브 제목 (35자 이내)\",\\n    \"reason\": \"추천 이유 — 트렌드/아웃라이어/시즌 등 근거 한 문장\",\\n    \"format\": \"longform 또는 shortform\",\\n    \"urgency\": \"high 또는 medium 또는 low\"\\n  }\\n]\\n\\n조건:\\n- ${params.targetAudience}이 실제로 검색하거나 공유할 만한 주제\\n- 경쟁이 적고 내 채널 강점을 살릴 수 있는 각도\\n- 제목은 숫자/구체적 이점 포함 권장`;\n\nreturn [{ json: {\n  ...params,\n  geminiPrompt: prompt,\n  geminiKey: $env.GEMINI_API_KEY || '',\n  rssTopics,\n  outlierTitles,\n} }];"
      },
      "id": "node-build-prompt",
      "name": "Gemini 프롬프트 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        290
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $json.geminiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.geminiPrompt }] }], generationConfig: { temperature: 0.6, maxOutputTokens: 2048, thinkingConfig: { thinkingBudget: 0 } } }) }}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "googlePalmApi"
      },
      "id": "node-gemini-call",
      "name": "Gemini: 주제 추천",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        190
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "googlePalmApi": {
          "id": "9e3a2158",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const params = $('Gemini 프롬프트 구성').first().json;\nconst geminiRaw = $input.first().json;\n\nlet suggestions = [];\ntry {\n  const text = geminiRaw?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const jsonMatch = text.match(/\\[[\\s\\S]*\\]/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    suggestions = Array.isArray(parsed) ? parsed : [];\n  }\n} catch {}\n\nconst now = new Date().toISOString();\nreturn [{ json: {\n  ok: true,\n  mode: 'n8n',\n  count: suggestions.length,\n  suggestions,\n  rssTopics: params.rssTopics || [],\n  outlierTitles: params.outlierTitles || [],\n  aiEnhanced: suggestions.length > 0,\n  aiProvider: 'gemini',\n  generatedAt: now,\n  message: suggestions.length > 0 ? `주제 ${suggestions.length}개 추천 완료 (Gemini)` : 'Gemini 응답 파싱 실패 — 기본 주제 사용',\n} }];"
      },
      "id": "node-gemini-parse",
      "name": "Gemini 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        190
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\nconst rssTopics = params.rssTopics || [];\nconst outlierTitles = params.outlierTitles || [];\n\nconst fallbackSuggestions = [\n  ...rssTopics.slice(0, 3).map((t, i) => ({ rank: i+1, topic: t.slice(0, 20), title: t.slice(0, 35), reason: 'RSS 트렌드 키워드', format: 'longform', urgency: 'medium' })),\n  ...outlierTitles.slice(0, 2).map((t, i) => ({ rank: rssTopics.length+i+1, topic: t.slice(0, 20), title: t.slice(0, 35), reason: '아웃라이어 히트 영상 참고', format: 'longform', urgency: 'high' })),\n].slice(0, params.count || 5);\n\nreturn [{ json: {\n  ok: true,\n  mode: 'fallback',\n  count: fallbackSuggestions.length,\n  suggestions: fallbackSuggestions,\n  rssTopics,\n  outlierTitles,\n  aiEnhanced: false,\n  aiProvider: null,\n  generatedAt: new Date().toISOString(),\n  message: `GEMINI_API_KEY 미설정 — RSS/Outlier 기반 ${fallbackSuggestions.length}개 기본 추천`,\n} }];"
      },
      "id": "node-fallback",
      "name": "폴백 (키 없음)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        390
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/notion-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $env.DASHBOARD_API_SECRET || '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ workflowKey: 'topic-suggest', summary: { count: $json.count, aiEnhanced: $json.aiEnhanced, mode: $json.mode } }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "node-notion-log",
      "name": "Notion 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        290
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook 수신": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "파라미터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파라미터 파싱": {
      "main": [
        [
          {
            "node": "RSS 주제 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "Outlier 영상 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 주제 조회": {
      "main": [
        [
          {
            "node": "Gemini 프롬프트 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlier 영상 조회": {
      "main": [
        [
          {
            "node": "Gemini 프롬프트 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 프롬프트 구성": {
      "main": [
        [
          {
            "node": "Gemini: 주제 추천",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: 주제 추천": {
      "main": [
        [
          {
            "node": "Gemini 결과 파싱",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "폴백 (키 없음)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 결과 파싱": {
      "main": [
        [
          {
            "node": "Notion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "폴백 (키 없음)": {
      "main": [
        [
          {
            "node": "Notion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI 기획"
    },
    {
      "name": "Gemini"
    }
  ],
  "pinData": {},
  "id": "hxhvP2dPxXuFxxEt"
}