docs/n8n/workflows/N8N_NAVER_BLOG_COLLECT.json
{
  "name": "네이버 블로그 글 목록 수집 (검색 Open API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "naver-blog-collect",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-naver-collect",
      "name": "Webhook 수집",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "webhookId": "naver-blog-collect-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-naver-collect",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "id": "node-schedule-naver-collect",
      "name": "스케줄 (1일마다)",
      "position": [
        100,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "let mineOnly = false;\ntry {\n  const wh = $('Webhook 수집').all();\n  if (wh.length) {\n    const raw = wh[0].json;\n    const b = raw.body ?? raw;\n    const parsed = typeof b === 'string' ? JSON.parse(b) : b;\n    if (parsed?.mineOnly != null) mineOnly = Boolean(parsed.mineOnly);\n  }\n} catch {}\nconst base = ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '');\nconst secret = $env.DASHBOARD_API_SECRET || '';\nif (!secret) {\n  return [{ json: {\n    ok: false,\n    skipCall: true,\n    message: 'DASHBOARD_API_SECRET 미설정. .env.local 확인 후 n8n 컨테이너를 재기동하세요.',\n  } }];\n}\nreturn [{ json: {\n  mineOnly,\n  skipCall: false,\n  collectUrl: `${base}/api/dashboard/collect-platform`,\n  viewsUrl: `${base}/api/dashboard/naver-blog-views`,\n  apiSecret: secret,\n  source: 'n8n',\n} }];"
      },
      "id": "node-parse-collect",
      "name": "기준·API 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json.skipCall }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-skip-collect",
      "name": "설정 오류?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.collectUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $json.apiSecret }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ platform: 'naver-blog', mineOnly: $json.mineOnly }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-call-collect",
      "name": "대시보드: 글 목록 수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('기준·API 설정').first().json.viewsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $('기준·API 설정').first().json.apiSecret }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ onlyMissingViews: true, maxPosts: 80, useEngagementFallback: true, source: 'n8n' }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-call-views",
      "name": "대시보드: 조회수·vs.Avg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('기준·API 설정').first().json;\nconst collectRaw = $('대시보드: 글 목록 수집').first().json;\nconst viewsRaw = $input.first().json;\nfunction parse(j) {\n  if (typeof j === 'string') { try { return JSON.parse(j); } catch { return { message: j.slice(0,300) }; } }\n  if (j?.body && typeof j.body === 'object') return j.body;\n  return j;\n}\nconst collect = parse(collectRaw);\nconst views = parse(viewsRaw);\nconst ok = collect?.ok !== false && views?.ok !== false;\nreturn [{ json: {\n  ok,\n  mode: 'n8n',\n  platform: 'naver-blog',\n  collect: {\n    succeeded: collect?.succeeded ?? 0,\n    total: collect?.total ?? 0,\n    message: collect?.message,\n  },\n  views: {\n    updated: views?.updated ?? 0,\n    processed: views?.processed ?? 0,\n    withReadViews: views?.withReadViews ?? 0,\n    withEngagementMetric: views?.withEngagementMetric ?? 0,\n    message: views?.message,\n  },\n  message: ok\n    ? `네이버 파이프라인 완료 · 수집 ${collect?.succeeded ?? 0}/${collect?.total ?? 0} · 메트릭 ${views?.updated ?? 0}건`\n    : (collect?.error || views?.message || '실패'),\n  timestamp: new Date().toISOString(),\n} }];"
      },
      "id": "node-done-pipeline",
      "name": "완료",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/notion-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-dashboard-api-key",
              "value": "={{ $env.DASHBOARD_API_SECRET || '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ workflowKey: 'naver-blog-collect', platform: 'naver-blog', summary: $input.first().json }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-notion-log-naver-collect",
      "name": "Notion 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  ok: false,\n  mode: 'n8n',\n  message: $input.first().json.message || '설정 오류',\n  timestamp: new Date().toISOString(),\n} }];"
      },
      "id": "node-done-skip-collect",
      "name": "완료 (설정 오류)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        480
      ]
    }
  ],
  "connections": {
    "Webhook 수집": {
      "main": [
        [
          {
            "node": "기준·API 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "기준·API 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기준·API 설정": {
      "main": [
        [
          {
            "node": "설정 오류?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 오류?": {
      "main": [
        [
          {
            "node": "완료 (설정 오류)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대시보드: 글 목록 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대시보드: 글 목록 수집": {
      "main": [
        [
          {
            "node": "대시보드: 조회수·vs.Avg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대시보드: 조회수·vs.Avg": {
      "main": [
        [
          {
            "node": "완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료": {
      "main": [
        [
          {
            "node": "Notion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 (설정 오류)": {
      "main": [
        [
          {
            "node": "Notion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스케줄 (1일마다)": {
      "main": [
        [
          {
            "node": "기준·API 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "NaverBlog"
    }
  ],
  "pinData": {}
}