docs/n8n/N8N_YOUTUBE_COLLECT.json
{
  "name": "YouTube 채널 데이터 수집",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 360]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] }
      },
      "id": "node-schedule-trigger",
      "name": "스케줄 실행 (6시간마다)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 520]
    },
    {
      "parameters": {
        "jsCode": "const CHANNELS = [\n  { channelId: 'UCsJ6RuBiTVWRX156FVbeaGg', channelName: '슈카월드' },\n  { channelId: 'UChlv4GSd7OQl3js-jkLOnFA', channelName: '삼프로TV' },\n  { channelId: 'UCaJdckl6MBdDPDf75Ec_bJA', channelName: '신사임당' },\n  { channelId: 'UC2QeHNJFfuQWB4cy3M-745g', channelName: '부읽남TV' },\n  { channelId: 'UCr7XsrSrvAn_WcU4kF99bbQ', channelName: '박곰희TV' },\n];\nreturn CHANNELS.map(ch => ({ json: ch }));"
      },
      "id": "node-set-channels",
      "name": "채널 목록 정의",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "statistics,snippet" },
            { "name": "id", "value": "={{ $json.channelId }}" },
            { "name": "key", "value": "AIzaSyDjX2r_nCfM3LSMhBX623G-MJ4ZsAU3W_w" }
          ]
        },
        "options": {}
      },
      "id": "node-get-channel-stats",
      "name": "채널 통계 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 360]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst item = data.items?.[0];\nif (!item) return [{ json: { skip: true } }];\nconst stats = item.statistics;\nconst totalViews = parseInt(stats.viewCount || '0');\nconst videoCount = parseInt(stats.videoCount || '1');\nreturn [{ json: {\n  channelId: item.id,\n  channelName: item.snippet?.title || '',\n  subscribers: parseInt(stats.subscriberCount || '0'),\n  totalViews,\n  videoCount,\n  avgViews: Math.round(totalViews / videoCount),\n} }];"
      },
      "id": "node-parse-channel",
      "name": "채널 데이터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "snippet" },
            { "name": "channelId", "value": "={{ $json.channelId }}" },
            { "name": "maxResults", "value": "50" },
            { "name": "order", "value": "date" },
            { "name": "type", "value": "video" },
            { "name": "key", "value": "AIzaSyDjX2r_nCfM3LSMhBX623G-MJ4ZsAU3W_w" }
          ]
        },
        "options": {}
      },
      "id": "node-search-videos",
      "name": "최신 영상 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "statistics,contentDetails,snippet" },
            { "name": "id", "value": "={{ $json.items.map(v => v.id.videoId).filter(Boolean).join(',') }}" },
            { "name": "key", "value": "AIzaSyDjX2r_nCfM3LSMhBX623G-MJ4ZsAU3W_w" }
          ]
        },
        "options": {}
      },
      "id": "node-get-video-stats",
      "name": "영상 상세 통계 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "jsCode": "const channelInfo = $('채널 데이터 파싱').item.json;\nconst avgViews = channelInfo.avgViews || 50000;\nconst channelId = channelInfo.channelId;\nconst channelName = channelInfo.channelName;\n\nconst getTier = (v) => v >= 5.0 ? 'S' : v >= 3.0 ? 'A' : v >= 1.5 ? 'B' : 'C';\nconst parseDuration = (iso) => {\n  if (!iso) return 0;\n  const m = iso.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  return (parseInt(m?.[1]||0)*3600)+(parseInt(m?.[2]||0)*60)+parseInt(m?.[3]||0);\n};\n\nconst videos = $input.item.json.items || [];\n\nconst channelRow = {\n  channel_id: channelId,\n  channel_name: channelName,\n  platform: 'youtube',\n  subscribers: channelInfo.subscribers,\n  total_views: channelInfo.totalViews,\n  video_count: channelInfo.videoCount,\n  avg_views: avgViews,\n  updated_at: new Date().toISOString(),\n};\n\nconst videoRows = videos.map(video => {\n  const stats = video.statistics || {};\n  const views = parseInt(stats.viewCount || '0');\n  const vsAvg = avgViews > 0 ? Math.round((views / avgViews) * 10) / 10 : 0;\n  return {\n    platform: 'youtube',\n    video_id: video.id,\n    channel_id: channelId,\n    channel_name: channelName,\n    title: video.snippet?.title || '',\n    thumbnail_url: video.snippet?.thumbnails?.medium?.url || '',\n    views,\n    likes: parseInt(stats.likeCount || '0'),\n    comments: parseInt(stats.commentCount || '0'),\n    duration: parseDuration(video.contentDetails?.duration),\n    published_at: video.snippet?.publishedAt || null,\n    avg_views: avgViews,\n    vs_avg: vsAvg,\n    tier: getTier(vsAvg),\n    score: Math.min(Math.round(vsAvg * 16), 100),\n    scraped_at: new Date().toISOString(),\n  };\n});\n\n// HTTP Request 노드 body에서 JSON.stringify로 처리하도록 객체로 전달\nreturn [{ json: {\n  channelRow,\n  videoRows,\n  channelName,\n  videoCount: videoRows.length,\n} }];"
      },
      "id": "node-calc-vsavg",
      "name": "vs.Avg 계산 및 Tier 결정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rxmqhkiepfqiaatopunb.supabase.co/rest/v1/channels?on_conflict=channel_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4bXFoa2llcGZxaWFhdG9wdW5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM5NDk3MywiZXhwIjoyMDkzOTcwOTczfQ.CQUg4o0Jpf0KdSo7axf0IbxWyIov_nKtE5AIiMOo6NA" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4bXFoa2llcGZxaWFhdG9wdW5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM5NDk3MywiZXhwIjoyMDkzOTcwOTczfQ.CQUg4o0Jpf0KdSo7axf0IbxWyIov_nKtE5AIiMOo6NA" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.channelRow) }}",
        "options": {}
      },
      "id": "node-save-channel",
      "name": "Supabase: 채널 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rxmqhkiepfqiaatopunb.supabase.co/rest/v1/videos?on_conflict=video_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4bXFoa2llcGZxaWFhdG9wdW5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM5NDk3MywiZXhwIjoyMDkzOTcwOTczfQ.CQUg4o0Jpf0KdSo7axf0IbxWyIov_nKtE5AIiMOo6NA" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4bXFoa2llcGZxaWFhdG9wdW5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM5NDk3MywiZXhwIjoyMDkzOTcwOTczfQ.CQUg4o0Jpf0KdSo7axf0IbxWyIov_nKtE5AIiMOo6NA" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.videoRows) }}",
        "options": {}
      },
      "id": "node-save-videos",
      "name": "Supabase: 영상 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 480]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: '수집 완료 ✅', timestamp: new Date().toISOString() } }];"
      },
      "id": "node-done",
      "name": "완료 알림",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 480]
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [[{ "node": "채널 목록 정의", "type": "main", "index": 0 }]]
    },
    "스케줄 실행 (6시간마다)": {
      "main": [[{ "node": "채널 목록 정의", "type": "main", "index": 0 }]]
    },
    "채널 목록 정의": {
      "main": [[{ "node": "채널 통계 조회", "type": "main", "index": 0 }]]
    },
    "채널 통계 조회": {
      "main": [[{ "node": "채널 데이터 파싱", "type": "main", "index": 0 }]]
    },
    "채널 데이터 파싱": {
      "main": [[{ "node": "최신 영상 목록 조회", "type": "main", "index": 0 }]]
    },
    "최신 영상 목록 조회": {
      "main": [[{ "node": "영상 상세 통계 조회", "type": "main", "index": 0 }]]
    },
    "영상 상세 통계 조회": {
      "main": [[{ "node": "vs.Avg 계산 및 Tier 결정", "type": "main", "index": 0 }]]
    },
    "vs.Avg 계산 및 Tier 결정": {
      "main": [[
        { "node": "Supabase: 채널 저장", "type": "main", "index": 0 },
        { "node": "Supabase: 영상 저장", "type": "main", "index": 0 }
      ]]
    },
    "Supabase: 영상 저장": {
      "main": [[{ "node": "완료 알림", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "YouTube 수집" }],
  "pinData": {}
}
