20260522233231/docs/n8n/workflows/N8N_RSS_TOPIC_COLLECT.json
{
  "name": "RSS → 주제 후보 자동 수집",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rss-topic-collect",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-rss",
      "name": "Webhook 수집",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "webhookId": "rss-topic-collect-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-rss",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "id": "node-schedule-rss",
      "name": "스케줄 (1일마다)",
      "position": [
        100,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "let targetAudience = '시니어';\nlet maxTopics = 5;\nlet persistCollected = true;\ntry {\n  const wh = $('Webhook 수집').all();\n  if (wh.length) {\n    const raw = wh[0].json;\n    const b = raw.body ?? raw;\n    const parsed = typeof b === 'string' ? JSON.parse(b) : b;\n    if (parsed?.targetAudience) targetAudience = String(parsed.targetAudience);\n    if (parsed?.maxTopics != null) maxTopics = Number(parsed.maxTopics);\n    if (parsed?.persistCollected != null) persistCollected = Boolean(parsed.persistCollected);\n  }\n} catch {}\nif (!Number.isFinite(maxTopics) || maxTopics < 1) maxTopics = 5;\nreturn [{ json: { targetAudience, maxTopics, persistCollected, source: 'n8n' } }];"
      },
      "id": "node-parse-params",
      "name": "기준 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $('기준 설정').first().json;\nconst feeds = [\n  { name: '동아일보', url: 'https://rss.donga.com/total.xml' },\n  { name: '경향신문', url: 'https://www.khan.co.kr/rss/rssdata/total_news.xml' },\n  { name: '이데일리', url: 'https://rss.etoday.co.kr/eto/pol_opi.xml' },\n];\nconst keywords = ['연금','재테크','은퇴','노후','시니어','실버','건강','국민연금','전세','금리','복지','상속','부동산','투자','절약','노인','요양'];\n\nfunction decode(t) {\n  return t.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/gi,'$1').replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').trim();\n}\nfunction tag(block, name) {\n  const m = block.match(new RegExp('<'+name+'[^>]*>([\\\\s\\\\S]*?)<\\\\/'+name+'>','i'));\n  return m ? decode(m[1].replace(/<[^>]+>/g,' ').trim()) : '';\n}\nfunction parseXml(xml) {\n  const out = [];\n  const blocks = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || [];\n  for (const b of blocks) {\n    const title = tag(b,'title');\n    const link = tag(b,'link') || tag(b,'guid');\n    if (!title) continue;\n    out.push({ title: title.slice(0,500), link: link.slice(0,2000), pubDate: tag(b,'pubDate'), description: tag(b,'description').slice(0,500) });\n  }\n  return out;\n}\nfunction score(title, desc) {\n  const text = (title+' '+desc).toLowerCase();\n  let s = 0;\n  for (const kw of keywords) {\n    if (text.includes(kw)) s += title.includes(kw) ? 12 : 4;\n  }\n  return s;\n}\nfunction idFor(link, title) {\n  let h = 0;\n  const s = (link || title);\n  for (let i = 0; i < s.length; i++) h = ((h << 5) - h) + s.charCodeAt(i);\n  return 'rss' + Math.abs(h).toString(16).padStart(28, '0').slice(0, 28);\n}\n\nconst scored = [];\nlet feedOk = 0;\nfor (const feed of feeds) {\n  try {\n    const res = await this.helpers.httpRequest({ method: 'GET', url: feed.url, headers: { 'User-Agent': 'ContentsDashboard-n8n/1.0' }, timeout: 12000 });\n    const xml = typeof res === 'string' ? res : JSON.stringify(res);\n    const items = parseXml(xml);\n    if (!items.length) continue;\n    feedOk++;\n    for (const it of items) {\n      const rel = score(it.title, it.description || '');\n      if (rel <= 0) continue;\n      scored.push({\n        id: idFor(it.link, it.title),\n        title: it.title,\n        link: it.link || null,\n        source_feed: feed.name,\n        summary: it.description || null,\n        published_at: it.pubDate ? new Date(it.pubDate).toISOString() : null,\n        relevance_score: rel,\n        target_audience: params.targetAudience,\n        source: params.source,\n      });\n    }\n  } catch (e) { /* next feed */ }\n}\n\nscored.sort((a,b) => b.relevance_score - a.relevance_score);\nconst top = scored.slice(0, params.maxTopics);\nconst now = new Date().toISOString();\nconst rows = top.map(r => ({ ...r, collected_at: now, updated_at: now }));\n\nif (!feedOk) {\n  return [{ json: { ok: false, skipSave: true, message: 'RSS 피드 수집 실패', topics: [] } }];\n}\nif (!rows.length) {\n  return [{ json: { ok: true, skipSave: true, preview: !params.persistCollected, message: '관련 기사 없음', topics: [], savedCount: 0 } }];\n}\nif (!params.persistCollected) {\n  return [{ json: { ok: true, skipSave: true, preview: true, message: `미리보기 ${rows.length}개`, topics: rows, savedCount: 0 } }];\n}\nreturn [{ json: { ok: true, skipSave: false, topics: rows, savedCount: rows.length, message: `저장 예정 ${rows.length}개` } }];"
      },
      "id": "node-rss-collect",
      "name": "RSS 수집·점수",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json.skipSave }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-skip",
      "name": "저장 스킵?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rss_topic_candidates?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.topics) }}",
        "options": {}
      },
      "id": "node-save",
      "name": "Supabase: 주제 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const built = $('RSS 수집·점수').first().json;\nreturn [{ json: {\n  ok: true,\n  mode: 'n8n',\n  targetAudience: $('기준 설정').first().json.targetAudience,\n  savedCount: built.savedCount ?? (built.topics || []).length,\n  topics: built.topics || [],\n  message: built.message || 'RSS 주제 수집 완료',\n  timestamp: new Date().toISOString(),\n} }];"
      },
      "id": "node-done-save",
      "name": "완료 (저장)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: {\n  ok: j.ok !== false,\n  mode: 'n8n',\n  preview: j.preview === true,\n  savedCount: j.savedCount ?? 0,\n  topics: j.topics || [],\n  message: j.message,\n  timestamp: new Date().toISOString(),\n} }];"
      },
      "id": "node-done-skip",
      "name": "완료 (스킵)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/notion-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-dashboard-api-key", "value": "={{ $env.DASHBOARD_API_SECRET || '' }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ workflowKey: 'rss-topic-collect', summary: $input.first().json }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "node-notion-log-rss",
      "name": "Notion 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 380],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook 수집": {
      "main": [
        [
          {
            "node": "기준 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "기준 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기준 설정": {
      "main": [
        [
          {
            "node": "RSS 수집·점수",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 수집·점수": {
      "main": [
        [
          {
            "node": "저장 스킵?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저장 스킵?": {
      "main": [
        [
          {
            "node": "완료 (스킵)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: 주제 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: 주제 저장": {
      "main": [
        [
          {
            "node": "완료 (저장)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 (저장)": {
      "main": [[{ "node": "Notion 기록", "type": "main", "index": 0 }]]
    },
    "완료 (스킵)": {
      "main": [[{ "node": "Notion 기록", "type": "main", "index": 0 }]]
    },
    "스케줄 (1일마다)": {
      "main": [
        [
          {
            "node": "기준 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RSS·주제"
    }
  ],
  "pinData": {}
}
