20260522233231/docs/n8n/workflows/N8N_YOUTUBE_COLLECT.json
{
  "name": "YouTube 채널 데이터 수집",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-collect",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook 수집",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        180
      ],
      "webhookId": "youtube-collect-webhook"
    },
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "id": "node-schedule-trigger",
      "name": "스케줄 (1일마다)",
      "position": [
        100,
        520
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/channels?select=channel_id,channel_name,platform&platform=eq.youtube",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-fetch-channels-from-db",
      "name": "Supabase: 채널 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  throw new Error('Supabase 응답이 비었습니다. 채널 목록 조회 노드를 확인하세요.');\n}\nlet rows = [];\nconst j0 = items[0].json;\nif (items.length === 1 && Array.isArray(j0)) {\n  rows = j0;\n} else if (items.length >= 1 && j0 && typeof j0 === 'object' && !Array.isArray(j0) && (j0.channel_id != null || j0.channelId != null)) {\n  rows = items.map((i) => i.json).filter((r) => r && (r.channel_id || r.channelId));\n} else if (items.length === 1 && j0 && Array.isArray(j0.data)) {\n  rows = j0.data;\n} else if (items.length === 1 && typeof j0 === 'string') {\n  try {\n    const p = JSON.parse(j0);\n    rows = Array.isArray(p) ? p : [];\n  } catch {\n    rows = [];\n  }\n}\nif (!rows.length) {\n  throw new Error('수집할 채널이 없습니다. 대시보드 > 채널·콘텐츠 등록 > 채널 등록 탭에서 채널을 먼저 등록해 주세요.');\n}\nreturn rows.map((ch) => ({\n  json: {\n    channelId: ch.channel_id ?? ch.channelId,\n    channelName: ch.channel_name ?? ch.channelName ?? '',\n  },\n}));"
      },
      "id": "node-set-channels",
      "name": "채널 목록 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics,snippet"
            },
            {
              "name": "id",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-channel-stats",
      "name": "채널 통계 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst item = data.items?.[0];\nif (!item) return [{ json: { skip: true } }];\nconst stats = item.statistics;\nconst totalViews = parseInt(stats.viewCount || '0');\nconst videoCount = parseInt(stats.videoCount || '1');\nreturn [{ json: {\n  channelId: item.id,\n  channelName: item.snippet?.title || '',\n  subscribers: parseInt(stats.subscriberCount || '0'),\n  totalViews,\n  videoCount,\n  avgViews: Math.round(totalViews / videoCount),\n} }];"
      },
      "id": "node-parse-channel",
      "name": "채널 데이터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-search-videos",
      "name": "최신 영상 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics,contentDetails,snippet"
            },
            {
              "name": "id",
              "value": "={{ $json.items.map(v => v.id.videoId).filter(Boolean).join(',') }}"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-video-stats",
      "name": "영상 상세 통계 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const channelInfo = $('채널 데이터 파싱').item.json;\nconst avgViews = channelInfo.avgViews || 50000;\nconst channelId = channelInfo.channelId;\nconst channelName = channelInfo.channelName;\n\nconst getTier = (v) => v >= 5.0 ? 'S' : v >= 3.0 ? 'A' : v >= 1.5 ? 'B' : 'C';\nconst parseDuration = (iso) => {\n  if (!iso) return 0;\n  const m = iso.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  return (parseInt(m?.[1]||0)*3600)+(parseInt(m?.[2]||0)*60)+parseInt(m?.[3]||0);\n};\n\nconst videos = $input.item.json.items || [];\n\nconst channelRow = {\n  channel_id: channelId,\n  channel_name: channelName,\n  platform: 'youtube',\n  subscribers: channelInfo.subscribers,\n  total_views: channelInfo.totalViews,\n  video_count: channelInfo.videoCount,\n  avg_views: avgViews,\n  updated_at: new Date().toISOString(),\n};\n\nconst videoRows = videos\n  .filter(video => video.id && video.snippet?.title)\n  .slice(0, 20)  // 한 번에 20개로 제한\n  .map(video => {\n    const stats = video.statistics || {};\n    const views = parseInt(stats.viewCount || '0');\n    const vsAvg = avgViews > 0 ? Math.round((views / avgViews) * 10) / 10 : 0;\n    return {\n      platform: 'youtube',\n      video_id: String(video.id),\n      channel_id: channelId,\n      channel_name: channelName,\n      title: String(video.snippet.title).slice(0, 500),\n      thumbnail_url: video.snippet?.thumbnails?.medium?.url || '',\n      views: Math.min(views, 2147483647),\n      likes: Math.min(parseInt(stats.likeCount || '0'), 2147483647),\n      comments: Math.min(parseInt(stats.commentCount || '0'), 2147483647),\n      duration: parseDuration(video.contentDetails?.duration),\n      published_at: video.snippet?.publishedAt || null,\n      avg_views: Math.min(avgViews, 2147483647),\n      vs_avg: vsAvg,\n      tier: getTier(vsAvg),\n      score: Math.min(Math.round(vsAvg * 16), 100),\n      scraped_at: new Date().toISOString(),\n    };\n  });\n\nreturn [{ json: {\n  channelRow,\n  videoRows,\n  channelName,\n  videoCount: videoRows.length,\n} }];"
      },
      "id": "node-calc-vsavg",
      "name": "vs.Avg 계산 및 Tier 결정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/channels?on_conflict=channel_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.channelRow) }}",
        "options": {}
      },
      "id": "node-save-channel",
      "name": "Supabase: 채널 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?on_conflict=video_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.videoRows) }}",
        "options": {}
      },
      "id": "node-save-videos",
      "name": "Supabase: 영상 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, workflowKey: 'youtube-collect', platform: 'youtube', message: '수집 완료 ✅', timestamp: new Date().toISOString() } }];"
      },
      "id": "node-done",
      "name": "완료 알림",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DASHBOARD_API_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') }}/api/dashboard/notion-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-dashboard-api-key", "value": "={{ $env.DASHBOARD_API_SECRET || '' }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ workflowKey: 'youtube-collect', platform: 'youtube', summary: $input.first().json }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "node-notion-log-yt",
      "name": "Notion 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 480],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook 수집": {
      "main": [
        [
          {
            "node": "Supabase: 채널 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "Supabase: 채널 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: 채널 목록 조회": {
      "main": [
        [
          {
            "node": "채널 목록 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "채널 목록 파싱": {
      "main": [
        [
          {
            "node": "채널 통계 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "채널 통계 조회": {
      "main": [
        [
          {
            "node": "채널 데이터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "채널 데이터 파싱": {
      "main": [
        [
          {
            "node": "최신 영상 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "최신 영상 목록 조회": {
      "main": [
        [
          {
            "node": "영상 상세 통계 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 상세 통계 조회": {
      "main": [
        [
          {
            "node": "vs.Avg 계산 및 Tier 결정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vs.Avg 계산 및 Tier 결정": {
      "main": [
        [
          {
            "node": "Supabase: 채널 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase: 영상 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: 영상 저장": {
      "main": [
        [
          {
            "node": "완료 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 알림": {
      "main": [
        [
          {
            "node": "Notion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스케줄 (1일마다)": {
      "main": [
        [
          {
            "node": "Supabase: 채널 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "YouTube 수집"
    }
  ],
  "pinData": {}
}
